body {
    background: linear-gradient(
            18deg,
            rgb(255, 255, 255) 0%,
            rgb(215, 215, 215) 100%
    );
    font-family: Roboto;
}
#parent {
    position: relative;
    height: 100vh;
    width: 100%;
}
#nav {
    background-color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 20px 40px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 100px rgba(0, 0, 0, 1);
}

#nav img {
    height: 50px;
    width: 50px;
    text-decoration: none;
}

#nav img:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.05);
}

#welcome {
    font-weight: bold;
    font-size: 54px;
    margin-left: 20px;
    transition: transform 0.3s;
    display: inline-block;
}

#welcome:hover {
    animation: bounce 0.6s ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: end;
    margin-right: 20px;
}

.date {
    font-size: 14px;
}
#canvasParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#gameCanvas {
    border-radius: 25px;
}
#subHeader {
    font-family: DancingScript;
    font-size: 24px;
    margin: 0px 20px;
    text-align: center;
}