@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
    font-family: 'Cinzel';
    src: url("./fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
}
body {
    background: linear-gradient(
            18deg,
            rgb(255, 255, 255) 0%,
            rgb(215, 215, 215) 100%
    );
    font-family: "Courier New", Courier, monospace;
}
#parent {
    position: relative;
    height: 100vh;
    width: 100%;
}
#socials {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
#socials a {
    transition: transform 1s ease;
}
#socials a:hover {
    opacity: 0.8;
    transform: scale(1.05) translateY(-25%) rotate(17deg);
}
#nav {
    background-color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 20px 40px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 100px rgba(0, 0, 0, 1);
}

#nav img {
    height: 50px;
    width: 50px;
    text-decoration: none;
}

#nav img:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.05);
}
#home {
    font-weight: bold;
    font-size: 54px;
    margin-left: 20px;
    transition: transform 0.3s;
    display: inline-block;
}
#home:hover {
    animation: bounce 0.6s ease;
    opacity: 0.8;
    cursor: pointer;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Cinzel;
    font-size: 24px;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.clock {
    font-size: 32px;
    text-align: end;
    margin-right: 20px;
}

.date {
    font-size: 14px;
}
#welcome {
    display: flex;
    text-align: center;
}